[Unit]
Description=Gunicorn instance for the AirBnB project
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/AirBnB_clone_v4
ExecStart=/home/ubuntu/.local/bin/gunicorn -b 0:5003 -w 3 web_dynamic.2-hbnb:app

[Install]
WantedBy=multi-user.target
